.ValueGrid {
}
.ValueGrid .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.ValueCard {
}
.Peter {
  border: 3px solid hotpink;
  padding: 1rem;
}
.big {
  margin: auto;
  width: 200px;
  display: block;
  font-size: 3rem;
}
nav {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}

.stupidAnimation {
  animation: 1s boom;
}
@keyframes boom {
  to {
    transform: scaleX(300%);
  }
}
